<!DOCTYPE html>
<html>
	<head>
		<title>Main page</title>
	</head>
	<body>
		<a href="video" target="_blank">video list</a><br>
		<a href="sql" target="_blank">sql query</a><br>
		<a href="photo" target="_blank">photo_list</a><br>
	</body>
</html>