<!doctype html>
<html lang="ja">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
		.navbar-brand a{
    		text-align: center;
    		font-size: 5vw;
    		color: white;
		}
	</style>



    <title><%= title %></title>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Management Window</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="col-lg-8"><a class="col-lg-2" href="sql_form">センサ情報</a></li>
                <li class="col-lg-8"><a class="col-lg-2" href="video_list">ビデオ一覧</a></li>
                <li class="col-lg-8"><a class="col-lg-2" href="photo_list">写真一覧</a></li>
            </ul>
        </div>
    </nav>

    <div class = "row">
    	<div class = " col-lg-6">
    		<h1>
    			test<br>
    			block<br>
    		</h1>
    	</div>    	
    </div>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
    aaa<br>
</div>
</body>
 
</html>