<!DOCTYPE html>
<head>
	<title>Watch Video Window</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="shortcut icon" href="/path/favicon.ico">
	<style>
		.col div{
			text-align: center;
			font-size: 4.375vw;
		}
		.row div {
			border: 1px solid red;
		}
		div {
			text-align: center;
		}
	</style>
</head>

<body>
	<h1 class="text-center">
		RESULT
	</h1>
	<table class="table table-bordered">
       	<thead>
       		<tr>
       			<th>date</th>
       			<th>time</th>
       			<th>place</th>
       		</tr>
       	</thead>
       	<tbody>
<script type="text/javascript">
	/*
	var test = [<%= title %>];
	console.log(test);
	*/
	var result = function(test, dict){
		var flag = '';
		var check = ''
		for(i = 0,j = dict.length; i < j; i ++){
			flag = dict.splice(0,1).toString();
			console.log(flag);
			try{
				reg = new RegExp(flag);
			}catch(SyntaxError){
				reg = flag;
			}
			console.log(test);
			while(true){
				test = test.replace(reg,'');
				if(test == check){
					break;
				}else{
					check = test;
				}
			}
		}
		return test;
	};
	var flag = 0;
	var test = "<%= title %>";
	var dictionary = [ '&#34','[',']','"',";" ];
	var result_json = result(test,dictionary);
	console.log(result_json);
	var json_before = result_json.split(',');
	console.log(json_before);

	for (i =0, j = json_before.length/3; i < j; i++){
		document.write('<tr>');
			document.write('<td>');
			document.write(json_before[flag]);
			document.write('</td>');
			flag++;
			document.write('<td>');
			document.write(json_before[flag]);
			document.write('</td>');
			flag++;
			document.write('<td>');
			document.write(json_before[flag]);
			document.write('</td>');
			flag++;
		document.write('</tr>');
	}
</script>


       	</tbody>
	</table>

<a href="/" >メニュー画面へ戻る</a><br>
</body>
