<!DOCTYPE html>
<head>
<title>Meadow Video</title>
<script>

function manageEvent(eventObj, event, eventHandler){
	if(eventObj.addEventListener){
		eventObj.addEventListener(event, eventHandler, false);
	}else if(eventObj.attachEvent){
		event = "on" + event;
		eventObj.attachEvent(event, eventHandler);
	}
}

window.onload=function(){
	manageEvent(document.getElementById("start"),"click",startPlayback);
	manageEvent(document.getElementById("stop"),"click", stopPlayback);
	manageEvent(document.getElementById("pause"),"click", pausePlayback);

	var meadow = document.getElementById("meadow");
	manageEvent(meadow, "timeupdate", reportProgress);

	var detect = document.createElement("video");
	if (!detect.canPlayType){
		document.getElementById("controls").style.display = "none";
	}
}

function startPlayback(){
	var meadow = document.getElementById("meadow");
	meadow.play();
	document.getElementById("pause").disabled = false;
	document.getElementById("stop").disabled = false;
	this.disabled = true;
}

function pausePlayback(){
	document.getElementById("meadow").pause();
	this.disabled = true;
	document.getElementById("start").disabled = false;
	document.getElementById("pause").disabled = true;
}

function stopPlayback(){
	var meadow = document.getElementById("meadow");
	meadow.pause();
	meadow.currentTime=0;
	document.getElementById("start").disabled = false;
	document.getElementById("pause").disabled = true;
	this.disabled=true;
}

function reportProgress(){
	var time = Math.round(this.currentTime);
	var div = document.getElementById("feedback");
	div.innerHTML = time + "seconds";
}
</script>

</head>
<body>
<a href="test.html" target="_blank"><%= title %></a><br>
<video id="meadow" poster="images/test.jpg">
	<source src = <%= "movie/" + title + ".mp4" %> type="video/mp4"/>
		<source src = "meadow.ogv" type="video/ogg"/>
	<object width="1920" height="1080">
	<param name="movie" value = "http://www.youtube.com/v/CNRTeSoSbgg&hl=en_US&fs=1&"></param>
	<embed src = "http://www.youtube.com/v/CNRTeSoSbgg&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowsscruptaccess="always" allowfullscreen="true" width="1920" height="1080">
	<p> Audio slideshow from shaw nature center</p>
	</embed>
	</object>
</video>
<div id="feedback"></div>
<div id="controls">
<button id="start">Play</button>
<button id="stop">Stop</button>
<button id="pause">Pause</button>
</div>
</body>