<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<title>Video List Window</title>
</head>
<style>
	li {
		display: inline-block;
		margin: 10px 10px;
		text-align: center;
	}

	ul {
		margin: 50px 20px;
		list-style: none;
	}

	img{
		max-width: 180px;
    	max-height: 240px;
	}

</style>

<body>
<script type="text/javascript">
	/*
	var test = [<%= title %>];
	console.log(test);
	*/
	var result = function(test, dict){
		var flag = '';
		var check = ''
		for(i = 0,j = dict.length; i < j; i ++){
			flag = dict.splice(0,1).toString();
			console.log(flag);
			try{
				reg = new RegExp(flag);
			}catch(SyntaxError){
				reg = flag;
			}
			console.log(test);
			while(true){
				test = test.replace(reg,'');
				if(test == check){
					break;
				}else{
					check = test;
				}
			}
		}
		return test;
	};
	var test = "<%= title %>";
	var dictionary = [ '&#34','[',']','"',";" ];
	var result_json = result(test,dictionary);
	console.log(result_json);
	var json_before = result_json.split(',');
	var flag = 0;
	console.log(json_before);
	document.write('<ul>');
	for (i =0, j = json_before.length; i < j; i++){
		document.write('<div class = row>');
		for(x=0;x<4;x++){
			if(json_before[flag] != 'undefined'){
				document.write('<div class=col-xs-1>');
				var json_file = json_before[flag].split('.')[0]
			document.write('<a href=video_view?id=' + json_before[flag] + '><img src=images/' + json_file + '.jpg border=0 class=img-fluid><div>'+ json_before[flag] +'</div></a>');
				flag++;
				document.write('</div>');
			}
		}
		document.write('</div>');
	}
	document.write('</ul>');
</script>
<div class="row">
	<div class="col-xs-1">
		<br>
		<a href="/">back to menu</a><br>
	</div>
</div>
</body>
